@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

:root {
	font-family: 'Varela', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #fffffe;
	background-color: #16161a;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
