.page {
	gap: 16px;
}

.header {
	text-align: center;
}

.title {
	color: var(--heading);
	font-size: 4rem;
	width: 100%;
}

.para {
	color: var(--text);
	font-size: 1.1rem;
}

.spacedRow {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 50%;
}

.wHalf {
	width: 50%;
}

.canvas {
	display: grid;
	place-items: center;
	width: 50%;
	height: 50vh;
	border-radius: 0.5em;
	background-color: var(--offBg);
	border: 5px solid var(--offBorder);
}

.monster {
	filter: drop-shadow(5px 5px 1px var(--shadow));
}

.row {
	display: flex;
}

.pixel {
	height: 1.5em;
	width: 1.5em;
}

.colorInput {
	opacity: 0;
}

.colorLabel {
	position: relative;
	display: flex;
	height: 100%;
	width: 148px;
	text-align: center;
	border-radius: 0.5em;
	border: 3px solid gray;
	cursor: pointer;
}

.colorText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.select {
	outline: 2px solid var(--offBorder);
	border-radius: 0.5em;
	height: calc(100% - 3px);
	padding: 0px 8px;
}
