.page {
	gap: 16px;
}

.header {
	text-align: center;
}

.title {
	color: var(--heading);
	font-size: 4rem;
	width: 100%;
}

.para {
	color: var(--text);
	font-size: 1.1rem;
}

.spacedRow {
	display: flex;
	justify-content: center;
	gap: 15px;
	width: 50%;
}

.wHalf {
	width: 50%;
}

.canvas {
	display: grid;
	place-items: center;
	width: 50%;
	height: 50vh;
	border-radius: 0.5em;
	background-color: var(--offBg);
	border: 5px solid var(--offBorder);
}

.monster {
	filter: drop-shadow(5px 5px 1px #212122);
}

.row {
	display: flex;
}

.pixel {
	height: 1.5em;
	width: 1.5em;
}

.colorInput {
	opacity: 0;
}

.colorLabel {
	display: block;
	height: 32px;
	width: 32px;
}

.select {
	border: 2px solid white;
	border-radius: 0.5em;
}
